.index {
    position: relative;
    /* background-color: #0C8484; */
    background-color: #f6f6f6;
    .bing-wallpaper-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}