.index {
  background-color: #333;
  .bing-wallpaper-container {
    /* position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; */
  }
  .picDesc {
    position: absolute;
    bottom: 80px;
    margin: auto;
    width: 80%;
    left: 0;
    right: 0;
    font-size: 20px;
    color: #fff;
    text-align: center;
  }
  .copyright {
    position: absolute;
    bottom: 20px;
    margin: auto;
    width: 80%;
    left: 0;
    right: 0;
    font-size: 13px;
    color: #fff;
    text-align: center;
  }
  .toast {
      background: #000;
      position: absolute;
      bottom: 40px;
      margin: auto;
      width: 100px;
      height: 30px;
      line-height: 30px;
      left: 0;
      right: 0;
      font-size: 13px;
      color: #fff;
      text-align: center;
      border-radius: 7px;
      z-index: 101;
  }
  .icon-menu {
    position: fixed;
    height: 20px;
    width: 25px;
    top: 20px;
    left: 20px;
    background: url('./assets/img/menu.svg') no-repeat;
    background-size: contain;
  }
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
  }
  .loading {
    z-index: 9998;
    width: 30px;
    height: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -15px;
    background: url('./assets/img/loading.svg');
    background-size: contain;
    opacity: 1;
    border-radius: 7px;
    animation: circle 2s ease infinite;
  }
  .slide-bar {
    position: fixed;
    width: 70px;
    height: 100%;
    top: 0;
    background-color: #f5f5f5;
    transform: translate3D(-100%, 0, 0);
    overflow: hidden;
    z-index: 100;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
    .switch-congtent {
      width: 100%;
      height: 100%;
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      .preDay,
      .nextDay,
      .today {
        height: 30px;
        line-height: 30px;
        color: #fff;
        background: #919191;
        margin-bottom: 10px;
        text-align: center;
      }
      .github {
        position: absolute;
        bottom: 40px;
        left: 17px;
        height: 35px;
        width: 35px;
        background: url('./assets/img/github.svg') no-repeat;
        background-size: contain;
        &>a {
          display: block;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .slide-bar-show {
    transform: translate3D(0, 0, 0);
  }
}

@keyframes circle {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
